<h1>Make a New Phone</h1>
<form method="POST" action="/phones"> <%# action tells it the route, method tells it the http verb %>
  Name: <input type="text" name="name"><br>
  Model No.: <input type="text" name="model_number"><br>
  Age: <input type="text" name="age"><br>
  <input type="submit" value="Create a Phone">
</form> 
<%# submitting this form will create a params hash, which is only accessible in the create action %>