<h1>Log In</h1>
<form action="/login" method="post">
  <input type="text" name="user[username]" ><br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Log In">
</form>
<a href="/signup"><input type="button" value="Signup"></a>&nbsp;&nbsp;